* {font-family: serif;}

h1 {
	color: red;
	text-decoration: underline;
}

a:hover{
	color: lime;
	font-style: italic;
}

body {background-color: #F0FFF0;}

a:active {
	color: red;
	font-style: italic;
}

h1, p {text-align: center;}